<nav class="header-nav">
  <div class="logo">
    <a routerLink="/inicio">Educatoon</a>
  </div>

  <ul class="nav-links">
    <li>
      <a routerLink="/inicio">Inicio</a>
    </li>

    @if (!isLoggedIn) {
      <li>
        <a routerLink="/login">Iniciar sesión</a>
      </li>
      <li>
        <a routerLink="/registro" class="btn-register">Regístrate</a>
      </li>
    } 
    @else {
      <li>
        <span class="welcome-msg">Hola, {{ userEmail }}</span>
      </li>
      
      @if (isAdmin) {
        <li>
          <a routerLink="/admin" class="btn-admin">Panel Admin</a>
        </li>
      }
      
      @if (isCoordinador || isAdmin) {
        <li>
          <a routerLink="/coordinador" class="btn-coord">Panel Coordinador</a>
        </li>
      }
      <li>
        <a (click)="logout()" class="btn-logout">Cerrar sesión</a>
      </li>
    }
  </ul>
</nav>