.admin-wrapper {
  display: flex;
  min-height: 100vh;
}

.admin-content {
  flex: 1;
  padding: 2rem;
  background-color: #f4f7f6;

  /* Por defecto, deja espacio para el sidebar abierto (250px) */
  margin-left: 250px; 
  transition: margin-left 0.3s ease-in-out;
}

/* Cuando el wrapper tiene la clase .collapsed... */
.admin-wrapper.collapsed .admin-content {
  /* ...el margen se reduce (80px) */
  margin-left: 80px; 
}