<nav class="sidebar">
  <div class="sidebar-header">

    @if (!isCollapsed) {
    <h3>Educatoon</h3>
    }

    <button class="toggle-btn" (click)="onToggle()">
      <i class="bi bi-list"></i>
    </button>
  </div>

  <!-- Sección de Perfil del Usuario -->
  <div class="user-profile-section" (click)="goToPerfil()" style="cursor: pointer;">
    @if (userProfileImage) {
      <img [src]="userProfileImage" alt="Foto de perfil" class="profile-image">
    } @else {
      <div class="profile-placeholder">
        <i class="bi bi-person-circle"></i>
      </div>
    }
    
    @if (!isCollapsed) {
      <span class="user-email">{{ userFullName }}</span>
      <button class="btn-profile">
        <i class="bi bi-person me-1"></i>
        Ver Perfil
      </button>
    }
  </div>

  <ul class="sidebar-nav">
    <li>
      <a routerLink="/dashboard" routerLinkActive="active">
        <i class="bi bi-house-door-fill me-2.5"></i>
        @if (!isCollapsed) { <span class="link-text">Dashboard</span> }
      </a>
    </li>

    @if (isCoordinador) {
    <li>
      <a routerLink="/coordinador" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}"> 
        <i class="bi bi-clipboard-check-fill"></i>
        @if (!isCollapsed) { <span class="link-text">Validar Documentos</span> }
      </a>
    </li>

    <li>
      <a routerLink="/coordinador/asesorias" routerLinkActive="active">
        <i class="fa-solid fa-chalkboard-user me-2"></i>
        @if (!isCollapsed) { <span class="link-text">Gestionar Asesorías</span> }
      </a>
    </li>
    }

    @if (isAdmin) {
    <li>
      <a routerLink="/admin" routerLinkActive="active">
        <i class="bi bi-check-circle-fill"></i>
        @if (!isCollapsed) {
        <span class="link-text">Aprobaciones</span> }
      </a>
    </li>

    <li>
      <a routerLink="/gestion-usuarios" routerLinkActive="active">
        <i class="bi bi-people-fill"></i>
        @if (!isCollapsed) {
        <span class="link-text">Gestión de Usuarios</span> }
      </a>
    </li>
    }
  </ul>

  <div class="sidebar-footer">
    <a (click)="logout()" class="logout-link">
      <i class="bi bi-box-arrow-left"></i>
      @if (!isCollapsed) { <span class="link-text">Cerrar Sesión</span> }
    </a>
  </div>
</nav>