
@import "bootstrap-icons/font/bootstrap-icons.css";


.navbar-nav.mx-auto .nav-link {
  font-weight: 500;
  color: #555; 
}

.navbar-nav.mx-auto .nav-link.active {
  color: #007bff !important;
  font-weight: 700;
}